# Dependencias
node_modules/

# Compilaciones
build/
dist/
.vite/
coverage/

# Variables y datos privados
.env
.env.*
!.env.example

# Registros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editores y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db