.salesChannelsBackground {
    background-color: rgba(255, 255, 255, 0.918);
    height: 100rem;
    padding-top: 14%;

    h3 {
        text-align: center;
        padding-bottom: 3%;
        font-size: 3rem;
    }

    .salesChannelsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .saleChannel {
            width: 9%;
            height: auto;
            cursor: pointer;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10%;

            &:hover {
                width: 10%;
                transition: all .7s;
            }

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }

            .saleChannelButtonFacebook {

                background: #3b5998;
                background-image: -webkit-linear-gradient(top, #3498db, #3b5998);
                -moz-border-radius: 28;
                border-radius: 28px;
                box-shadow: 1px 2px 3px #757575;
                font-family: Arial;
                color: #ffffff;
                font-size: 20px;
                padding: 10px 20px 10px 20px;
                text-decoration: none;


                &:hover {
                    background: #3cb0fd;
                    background-image: -webkit-linear-gradient(top, #3b5998, #3498db);
                    text-decoration: none;

                }
            }

            .saleChannelButtonML {
                width: 12rem;
                background: #ffcc00;
                background-image: -webkit-linear-gradient(top, #ffcc00, #cca406);
                border-radius: 28px;
                box-shadow: 1px 2px 3px #757575;
                font-family: Arial;
                color: #ffffff;
                font-size: 20px;
                padding: 10px 20px 10px 20px;
                text-decoration: none;

                &:hover {
                    background: #deb200;
                    background-image: -webkit-linear-gradient(top, #deb200, #ffcc00);

                    text-decoration: none;
                }

            }

            .saleChannelButtonWhatsapp {
                background: #25d366;
                background-image: -webkit-linear-gradient(top, #25d366, #20f76f);
                border-radius: 28px;
                box-shadow: 1px 2px 3px #757575;
                font-family: Arial;
                color: #ffffff;
                font-size: 20px;
                padding: 10px 20px 10px 20px;
                text-decoration: none;

                &:hover {
                    background: #20f76f;
                    background-image: -webkit-linear-gradient(top, #20f76f, #25d366);
                    text-decoration: none;
                }


            }
        }
    }
}