.productCardContainer {
      box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.24);
    // box-shadow: 0px 0px 0px 4px #d3311c ;
    // border: .2rem solid #01B457;
    padding: 1rem;
    overflow: hidden;

    &:hover {
        padding: 2rem;
        transition: all .7s;
    }
}
.productCard{
    text-decoration: none;
    &:hover {
        h2{
            text-decoration: underline;
        }

    }


    div {
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: auto;
        align-items: center;

        

        img {
            width: 10rem;
        }

        h3 {
            padding-top: .7rem;
            color: rgb(0, 0, 0);
            font-size: 1.3rem;
        }

        h2 {
            color: rgb(0, 0, 0);

        }
    }
}